<header class="site-header">
	 {% if page.title == 'Bienvenido' %}
		 <div class="welcome">
			<div>Bienvenido estimado cliente</div>
			<div>"La salud es un regalo,<br/> cuidarla nuestra responsabilidad"</div>
		 </div>

		 <div class="mast">
			 <img src="{{ site.baseurl }}/img/mast.jpg" />
		 </div>
	 {% else %}
		 <a class="site-title" href="{{ site.baseurl }}/">
			 <img src="{{ site.baseurl }}/img/logo.png" />
		 </a>
	 {% endif %}

	 <nav class="site-nav">
		<a href="{{ site.baseurl }}/nosotros" {% if page.title == 'Nosotros' %} class="here" {% endif %}>Nosotros</a>
		<a href="{{ site.baseurl }}/servicios" {% if page.title == 'Servicios' %} class="here" {% endif %}>Servicios</a>
		<a href="{{ site.baseurl }}/galeria" {% if page.title == 'Galeria de fotos' %} class="here" {% endif %}>Galeria</a>
		<a href="{{ site.baseurl }}/contacto" {% if page.title == 'Contacto' %} class="here" {% endif %}>Contacto</a>
	 </nav>
</header>
