<header class="site-header">

  <div class="wrapper">

	 <!--
    <a class="site-title" href="{{ site.baseurl }}/">
		 <img src="{{ site.baseurl }}/img/logo.png" />
	 </a>
	 -->

	 <div class="welcome">
		<div>Bienvenido estimado cliente</div>
		<div>"La salud es un regalo,<br/> cuidarla nuestra responsabilidad"</div>
	 </div>

    <nav class="site-nav">
		<a href="/nosotros">Nosotros</a>
		<a href="/servicios">Servicios</a>
		<a href="/galeria">Galeria</a>
		<a href="/contacto">Contacto</a>
    </nav>

	 <div class="mast">
		 <img src="{{ site.baseurl }}/img/mast.jpg" />
	 </div>
  </div>

</header>
